@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-weight: 400;
  font-style: normal;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.main {
  flex-grow: 1;
}

.page-container {
  background-color: #fff;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 0 70px 0 70px;
}

.navigation {
  width: 1060px;
  display: flex;
}

.navigation-list {
  margin: 0 ;
  color:#000000;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  list-style-type: none;
  gap: 30px;
  align-items: center;
}

.navigation-link-logo {
  color: #000000;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: -10px;
  position: relative;
}

.navigation-link {
  color: #000000;
  list-style-type: none;
  text-decoration: none;
  position: relative;
}

.navigation-link-main {
  color: #000000;
  list-style-type: none;
  text-decoration: none;
  position: relative;
}

.navigation-link-main {
  position: relative;
}

.navigation-link-main::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -17px;
  left: 0;
  height:2px;
  background-color: #756257;
  width: 100%;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  opacity: 0.3;
}

.img {
  max-width:  100%;
  object-fit: contain;
}

.navigation-user {
  margin-top: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
  align-items: center;
}

.navigation-user-link{
  display: block;
  width: 45px;
  padding: 20px 0;
  top: -2px;
}

.search {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search:active {
  opacity: 0.3;
}

.link-likes {
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.likes-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -9px;
  margin-top: -9px;
  fill: inherit;
}

.navigation-user-link:active svg {
  opacity: 0.3;
}

.likes {
  color: #ffffff;
  background-color: #7db54f;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 1px;
  right: 3px;
}

.navigation-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration-line: none;
  padding: 8px 34px;
  display: block;
  margin-left: 20px;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

.navigation-button:hover,
.navigation-button:focus {
  background-color: #615048;
  outline: none;
}

.navigation-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hero-wrapper {
  color: #000000;
  background-image: url("../images/background/under-main-picture.svg"),
    url("../images/background/main-mountains.jpg");
  background-repeat: no-repeat no-repeat;
  text-align: center;
  background-position: bottom, top;
  padding-top: 52px;
  padding-bottom: 75px;
}

.hero {
  text-align: center;
}

.hero-title-class {
  width: 700px;
  margin: 0 auto;
  padding: 69px 250px 90px;
}

.hero-title {
  width: 700px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hero-text {
  text-align: center;
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  width: 700px;
}

.advantages-container,
.features-container {
  width: 400px;
  text-align: center;
  box-sizing: border-box;
  min-height: 384px;
  padding: 92px 85px 110px;
}

.advantages-list,
.features-list {
  width: 1200;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.icon-house {
  background: url(../images/icons/house.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.icon-burger {
  background: url(../images/icons/burger.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.icon-gift {
  background: url(../images/icons/gift.svg);
  background-repeat: no-repeat;
  background-position: center 80px;
}

.picture {
  background-color: #82b3d3;
  color: #fff;
  display: flex;
}

.picture .advantages-title {
  color: #fff;
}

.square {
  background-color: rgba(131, 179, 211, 0.12);
}

.road {
  background-color: rgba(131, 179, 211, 0.2);
}

.tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding: 0 29px;
}

.features-title {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
  padding: 0 29px;
}

.line::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 29px;
  opacity: 0.3;
}

.advantages-item-image .line::after{
  background-color: #fff;
}

.advantages-item .line::after{
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-photo {
  min-height: 100%;
}

.features-container {
  padding: 182px 85px 74px 85px;
}

.features-description {
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.grey {
  background: rgba(131, 179, 211, 0.2);
}

.white {
  background-color: #ffffff;
}

.appointment {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.appointment-text {
  padding-bottom: 62px;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.button-search {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #756157;
  text-decoration: none;
  padding: 10px 50px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-weight: 700;
  border-radius: 4px;
}

.button-search:hover,
.button-search:focus {
  background-color: #615048;
  outline: none;
}

.button-search:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.newsletter {
  text-align: center;
  color: #fff;
  padding: 96px 0 104px;
}

.newsletter-title {
  margin: 0;
  margin-bottom: 20px;
}

.section-title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-text {
  margin: 0;
  margin-bottom: 55px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-background {
  background-image: url("../images/background/footer-bridge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 128px;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  width: 675px;
}

.field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  width: 450px;
  padding: 15px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #F2F2F2;;
}

.field:hover {
  background-color: #E6E6E6;
}

.field:focus-visible {
  outline: 2px solid #82B3D3;
}

.newsletter-button {
  font-family: inherit;
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px 9px;
  border-radius: 0 4px 4px 0;
  border: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-button:hover,
.newsletter-button:focus-visible {
  outline: none;
  background-color: #68A2CA;
}

.newsletter-button:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  padding: 40px 70px 30px 70px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer-social {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 145px;
  height: 40px;
  align-self: center;
  margin-top: 10px;
}

.button-social {
  position: relative;
}

.button-social:focus-visible,
.button-social:hover {
  color: #68A2CA;
  outline: none;
}

.button-social:active {
  color: rgba(104, 162, 202, 0.3);
}

.social-vk {
  background-image: url("../images/icons/vk-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  color: #83B3D3;
}

.social-telegram {
  background-image: url("../images/icons/telegram-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  color: #83B3D3;
}

.social-youtube {
  background-image: url("../images/icons/youtube-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  color: #83B3D3
}

.phone-number {
  font-size: 40px;
  line-height: 36px;
  color: #000000;
  cursor: pointer;
}

.phone-number:hover {
  color: #756157;
}

.phone-number:focus-visible {
  color: #756157;
  outline: none;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-link {
  width: 115px;
  align-self: center;
  color: #000;
  cursor: pointer;
  height: 34px;
}

.footer-logo-link:hover,
.footer-logo-link:focus {
  color: #756157;
  outline: none;

}

.footer-logo-link:active {
  color: rgba(117, 97, 87, 0.3);
}

/*Каталог*/
.main-inner {
  background-color: #82b3d3;
  background-image: url("../images/background/catalog-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 415px;
}

.navigation-link-hotels {
  position: relative;
}

.navigation-link-hotels::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -18px;
  left: 0;
  height:2px;
  background-color: #756257;
  width: 100%;
}


.filter-inner {
  padding: 35px 50px 70px;
  height: 415px;
  box-sizing: border-box;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #fff;
  margin: 0;
}

.breadcrumbs {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.home-icon-link {
  display: block;
  width: 14px;
  margin-right: 11px;
  color: #fff;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #83b3d3;
  border-radius: 2px;
}

.breadcrumbs-item:not(:first-child)::before {
  content: url("../images/icons/small-arrow.svg");
  width: 7px;
  margin: 0;
  margin-right: -25px;
}

.hotels-link {
  font-size: 16px;
  line-height: 21px;
  margin-left: 30px;
  color: #fff;
  text-decoration: none;
}

.filter {
  color: #fff;
}

.filter-form {
  display: flex;
}

.filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.infrastructure {
  min-width: 180px;
  margin-right: 70px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: none;
  margin-bottom: 32px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.control-label {
  font-weight: 700px;
  margin-left: 36px;
}

.control-checkbox,
.control-radio {
  position: absolute;
  display: inline-block;
  top: 2px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #fff;
  border-radius: 4px;
}

.control-input:checked +.control-checkbox::before {
  position: absolute;
  top: -1px;
  left: 4px;
  content: url("../images/icons/checked.svg");
}

.control-radio {
  border-radius: 50%;
}

.control-input:checked +.control-radio::before {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 5px;
  top: 5px;
  background-color: #3F5E72;
  content: "";
}

.control {
  cursor: pointer;
  color: #fff;
  position: relative;
}

.control:hover {
  opacity: 0.6;
}

.control-checkbox:focus-visible {
  outline: 2px solid #83b3d3;
}

.control-radio:focus-visible {
  outline: 2px solid #83b3d3;
}

.control:active {
  opacity: 0.3;
}

.type-housing {
  min-width: 150px;
  margin-right: 140px;
}

.filter-costs {
  margin: 0;
  display: flex;
  justify-content: space-between;
  position:relative;
  margin-bottom: 44px;
  color: #000;
  line-height: 24px;
}

.range-input-min {
  width: 143px;
  padding: 12px 45px 12px 19px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  appearance: textfield;
  margin-right: 2px;
}

.range-input-max {
  width: 143px;
  padding: 12px 45px 12px 19px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  appearance: textfield;
}

.min-price {
  border-radius: 4px 0 0 4px;
}

.max-price {
  border-radius: 0 4px 4px 0;
}

.range-input-min:hover,
.range-input-max:hover {
  background-color: #E6E6E6;
}

.range-input-min:focus-visible,
.range-input-max:focus-visible {
  background-color: #E6E6E6;
  outline:2px solid #83B3D3;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position:absolute;
  height: 4px;
  background-color: #fff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-input-min::-webkit-outer-spin-button,
.range-input-min::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input-max::-webkit-outer-spin-button,
.range-input-max::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: -12px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-input {
  padding: 12px 20px;
  font-family: 700px;
  box-sizing: border-box;
  width: 143px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px;
  border: none;
  margin-right: 2px;
}

.filter-costs::before {
  content: "от";
  position: absolute;
  opacity: 0.3;
  left: 106px;
  bottom: 12px;
}

.filter-costs::after {
  content: "до";
  position: absolute;
  opacity: 0.3;
  left: 246px;
  bottom: 12px;
}

.filter-group-btn {
  width: 190px;
  margin: 0;
  text-align: center;
  border: none;
  padding: 0;
  padding-top: 60px;
  margin-left: 70px;
}

.filter-btn-submit {
  background-color: #82B3D3;
  color: #ffffff;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 32px;
}

.filter-btn-submit:hover {
  background-color: #68A2CA;
}

.filter-btn-submit:focus {
 background-color: #68A2CA;
 outline: none;
}

.filter-btn-submit:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.filter-btn-reset {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  text-transform: uppercase;
  cursor: pointer;
  padding: 8px 50px;
}

.filter-btn-reset:hover {
  opacity: 0.6;
}

.filter-btn-reset:active {
  outline: none;
  opacity: 0.3;
}

.filter-btn-reset:focus-visible {
  outline: 3px solid #83B3D3;
}

.filter-btn-reset[disabled] {
  opacity: 0.1;
}

.catalog-housing {
 padding: 50px 70px 60px;
}

.catalog-header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-results {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-right: auto;
}

.select-control {
  background-image: url("../images/icons/select.svg");
  background-repeat: no-repeat;
  font-size: 18px;
  line-height: 21px;
  width: 295px;
  margin-right: 60px;
  padding: 14px 15px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  appearance: none;
  background-position-x: 260px;
  background-position-y: 20px;
  font-weight: 400;
}

.select-control:hover {
  outline: none;
  border: 2px solid #68A2CA;
}

.select-control:focus-visible {
  outline: none;
  border: 2px solid #68A2CA;
}

.select-control:active {
  outline: none;
  border: 2px solid #3F5E72;
}

.select-control:disabled {
  opacity: 0.3;
}

.button-list {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  color:#000000;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  margin-left: 8px;
  padding: 15px 14px;

}

.button-list:focus-visible {
  border: 2px solid #68A2CA;
  outline: none;
}

.button-tile-choose {
  border: 2px solid #000000;
}

.button-tile-choose:active {
  border: 2px solid #000000;
}

.button-tile-choose:focus-visible {
  outline: none;
  border: 2px solid #68A2CA;
}

.button-list:hover {
  border: 2px solid #000000;
  outline: none;
}

.button-list:active {
  border: 2px solid #000000;
}

.catalog-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 45px;
  box-sizing: border-box;
}

.catalog-card {
  padding: 20px;
  border: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: repeat(2,140px);
  gap: 16px 20px;
}

.catalog-card-content {
  gap:20px;
  display: grid;
  grid-template-columns: 140px 140px;

}

.catalog-card-link {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: -1;
}

.catalog-card-image {
  max-width: 100%;
}

.catalog-card-link:focus-visible {
  outline: none;
}

.catalog-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.catalog-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.catalog-card-btn-detail {
  width: 140px;
  background-color: #756157;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0 8px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-card-btn-detail:hover {
  background-color: #615048;
}

.catalog-card-btn-detail:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-card-btn-detail:focus-visible {
  background-color: #615048;
  outline: none;
}


.catalog-card-btn-favorites {
  width: 140px;
  background-color: #82b3d3;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0 8px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-card-btn-favorites:hover {
  background-color: #68A2CA;
}

.catalog-card-btn-favorites:focus {
  background-color: #68A2CA;
  outline: none;
}

.catalog-card-btn-favorites:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.card-btn-favorites {
  background-color: #7db54f;
  color: #fff;
  width: 140px;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0 8px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.card-btn-favorites:hover {
  background-color: #6C9E42;
}

.card-btn-favorites:focus-visible {
  background-color: #6C9E42;
  outline: none;
}

.card-btn-favorites:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}


.catalog-card-btn-detail:disabled,
.catalog-card-btn-favorites:disabled,
.card-btn-favorites:disabled {
  background-color: #E5E5E5;
}

.four-star {
  width: 72px;
}

.three-star {
  width: 53px;
}

.two-star {
  width: 35px;
}

.catalog-star {
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  margin-top: 7px;
}

.catalog-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 0 8px;
  margin: 0;
}

.catalog-line {
  margin: 40px 0;
  height: 1px;
  border: none;
  background-color: #E6E6E6;
}

.pagination-container {
  font-size: 20px;
  line-height: 36px;
  display: flex;
  list-style-type: none;
  text-align: center;
  font-weight: 700;
}

.pagination-link {
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  margin: 0;
  box-sizing: border-box;
  margin-right: 8px;
  padding: 11px 0;
  text-decoration: none;
  color: #f2f2f2;
  border-radius: 4px;
}

.pagination-space{
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  margin-right: 8px;
  padding: 11px 0;
  text-decoration: none;
  color: #000;
  border-radius: 4px;
}

.pagination-button:hover {
  background-color: #68A2CA;
}
.pagination-button:focus {
  background-color: #68A2CA;
}

.pagination-button:active {
  background-color: #82B3D3 ;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000;
  cursor: pointer;
}

.newsletter-title-catalog {
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 20px;
}

.newsletter-text-catalog {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 55px;
  text-align: center;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-close {
  display: none;
}

.modal-auth {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #fff;
  width: 717px;
  box-sizing: border-box;
  color: #000;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgb(0 0 0 / 15%);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
}

.button-border {
  position: absolute;
  top: 64px;
  right: 52px;
  min-width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-color: #F2F2F2;
}

.button-border:hover {
  background-color: #E6E6E6;
}

.button-border:focus-visible {
  outline: 3px solid #83B3D3;
}

.close-icon:active {
  color: #E6E6E6;
}

.button-border:active svg {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.field-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.field-group {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 48px;
  height:48px;
}

.modal-arrive,
.modal-leave {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  box-sizing: border-box;
  max-width: 120px;
}

.calendar::before {
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  cursor: pointer;
  content: "";
}

.modal-date {
  box-sizing: border-box;
  width: 440px;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  appearance: textfield;
}

.modal-date:hover {
  background-color: #E6E6E6;
}
.modal-date:focus {
  outline: 3px solid #83B3D3;
}

.modal-date:active {
  outline: 2px solid #000000;
}

.modal-error {
  color: #ff5757;
  margin-top: 50px;
  font-size: 16px;
  line-height: 21px;
  position: absolute;
  left: 157px;
}

.modal-available {
  position: absolute;
  left: 157px;
  display: block;
  margin-top: 70px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.field-passengers {
  display: grid;
  grid-template-columns: repeat(2,110px);
  column-gap: 30px;
  height: 48px;
  margin-right: 76px;
}

.field-people {
  font-weight: 700;
  font-size: 20px;
  line-height: 45px;
  box-sizing: border-box;
  min-width: 110px;
  min-height: 48px;
  left: 10px;
}

.modal-input {
  width: 110px;
  min-height: 48px;
  text-align: center;
  padding: 12px 40px;
}

.modal-input {
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  appearance: textfield;
  width: 110px;
}

.modal-input:focus-visible {
  outline: 3px solid #83B3D3;
}

.field-passengers-child {
 display: grid;
 grid-template-columns: repeat(2,110px);
 column-gap: 30px;
 min-height: 48px;
}

.modal-input::-webkit-inner-spin-button,
.modal-input::-webkit-outer-spin-button {
  appearance: none;
}

.minus {
  position: absolute;
  top: 22px;
  left: 7px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: rgba(117, 97, 87, 0.3);
}

.plus {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: rgba(117, 97, 87, 0.3);
}

.minus:hover {
  color: #000;
}

.plus:hover {
  color: #000;
}

.minus:active,
.plus:active  {
  opacity: 0.2;
}

.minus:focus-visible,
.plus:focus-visible {
  outline: 3px solid #83b3d3;
}

.tooltip {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  width: 26px;
  height: 26px;
}

.tooltip-info {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
  color: #fff;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.tooltip-icon:hover .tooltip-icon {
  color: #83B3D3;
}

.tooltip-text {
  position: absolute;
  top: 164%;
  right: -119px;
  background-color: #242424;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  padding: 19px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
  display: none;
}

.tooltip-info:hover + .tooltip-text,
.tooltip-info:focus + .tooltip-text {
  display: block;
}

.find {
  width: 100%;
  padding: 18px 0;
  background-color: #83b3d3;
  border: none;
  font-size: 20px;
  line-height: 24px;
  word-wrap: break-word;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.tooltip-text::before {
  content:'';
  background-image: url("../images/icons/tooltip-figure.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  top: -9px;
  left: 0;
  right: 9px;
  margin-left: auto;
  margin-right: auto;
}

.find:hover {
  background-color: #68A2CA;
}

.find:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

.find:focus-visible {
  background-color: #68A2CA;
  outline: none;
}
