@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
  min-height: 100%;
  flex-direction: column;
}

.page-container {
  background-color: #fff;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

.visually-hidden {
  display: none;
  visibility: hidden;
}


.navigation {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.navigation-list {
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  margin-left: -400px;
  list-style-type: none;
}

.navigation-link {
  list-style-type: none;
  color: #000000;
  list-style-type: none;
  text-decoration: none;
  display: inline;
  padding: 10px;
  margin-bottom: -30px;
}

.navigation-item {
  font-size: 20px;
  line-height: 24px;
  margin-left: 5px;
}


.navigation-user {
  margin: 20px;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.search {
  background-image: url(../images/icons/search.svg);
  background-repeat: no-repeat;
}

.likes {
  color: #ffffff;
  background-color: #7DB54F;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
}


.navigation-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  text-decoration-line: none;
  padding: 8px 34px;
}

.hero-wrapper {
  color: #000000;
  background-image: url("../images/background/under-main-picture.svg"), url("../images/background/main-mountains.jpg");
  background-repeat: no-repeat no-repeat;
  text-align: center;
  background-position: bottom, top;
  padding-top: 52px;
  padding-bottom: 75px;
}

.hero {
  text-align: center;
}

.hero-title-class {
  width: 660px;
  margin: 0 auto;
  padding: 69px 290px 90px 290px;
}

.hero-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.hero-text {
  text-align: center;
}

.advantages-item {
  width: 400px;
}

.advantages-list {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}


.advantages-columns {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.city {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  background-color: #82b3d3;
  color: #ffffff;
}

.square {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 92px 85px 0 85px;
}

.road {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 92px 85px 0 85px;
}

.tourists {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 92px 85px 0 85px;
}

.bridge {
  color: #ffffff;
  background-color: #82b3d3;
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
}

.white {
  text-align: left;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
}

.grey {
  text-align: left;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
}


.appointment {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;
}

.appointment-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.appointment-text {
  padding-bottom: 62px;
  font-size: 22px;
  line-height: 26px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #756157;
  text-decoration: none;
  padding: 10px 50px;
  text-transform: uppercase;
}

.newsletter {
  text-align: center;
  color: #ffffff;
  padding-top: 96px;
  text-align: center;
}

.newsletter-background {
  background-image: url("../images/background/footer-bridge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 120px;
}

.newsletter-title {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 55px;
  text-align: center;
}

.newsletter-button {
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.newsletter-form {
  display: flex;
  margin: 0 auto;
  width: 675px;
}


.field {
  font-size: 18px;
  line-height: 24px;
  width: 450px;
  padding: 15px 20px;
}


.page-footer {
  text-align: center;
  display: flex;
  margin: 0 auto;
  width: 1050px;
  justify-content: space-between;
}

.footer-social {
  width: 145px;
  align-content: center;
  display: flex;
  justify-content: space-between;
}

.social-vk {
  background-image: url("../images/icons/vk-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 25px;
  height: 15px;
}

.social-telegram {
  background-image: url("../images/icons/telegram-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 18px;
  height: 15px;
}

.social-youtube {
  background-image: url("../images/icons/youtube-icon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 22px;
  height: 17px;
}

.contacts {
  text-align: center;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.logo-htmlacademy {
  width: 115px;
  align-self: center;
  padding: 45px;

}

/*Каталог*/
.main-inner {
  background-color: #82B3D3;
  background-image: url("../images/background/catalog-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 415px;
}

.filter-inner {
  padding: 35px 70px 70px;
  height: 415px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
}

.breadcrumbs {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.home-icon-link {
  display: block;
  width: 12px;
  height: 12px;
}

.hotels-link {
  font-size: 16px;
  line-height: 21px;
  margin-left: 30px;
}

.filter {
  color: #ffffff;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration-line: none;
  margin-bottom: 32px;
  margin: 0;
  padding-bottom: 32px;
}


.filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.filter-form {
  display: flex;
}

.infrastructure {
  min-width: 150px;
  margin-right: 70px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-item {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;

}

.type-housing {
  min-width: 150px;
  margin-right: 70px;
}



.costs {
  min-width: 230px;
  margin: 0;
}

.filter-cost {
  margin: 0;
  padding: 0;
  display: inline-block;
}


.filter-cost input {
  width: 145px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.filter-group-btn {
  width: 190px;
  height: 105px;
  margin: 0;
  text-align: center;
  border: none;
  padding: 0;
  padding-top: 60px;
}

.filter-btn-submit {
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  padding: 8px 50px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-btn-reset {
  weight: 700px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  padding-top: 35px;
  text-transform: uppercase;
}

.catalog-housing {
  width: 1200px;
  margin: 0 auto;
}

.catalog-header {
  width: 1060px;
  margin: 0 auto;

}

.catalog-results {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  display: inline-flex;
  padding-top: 55px;
  padding-right: 200px;
}

.select-control {
  width: 295px;
  height: 50px;
  padding: 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

}

.button-list {
  color: #000000;
  background-color: #ffffff;
}

.catalog-card-list {
  width: 1060px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:50px 70px 60px;
  margin-top: 45px;
}


.catalog-card-item {
  padding: 20px;
}

.catalog-card-link {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.catalog-card-type,
.catalog-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.catalog-card-btn-detail {
  width: 140px;
  height: 36px;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 50px;
}

.catalog-card-btn-favorites {
  width: 140px;
  height: 36px;
  background-color: #82B3D3;
  color: #ffffff;
  padding: 8px 50px;
}

.card-btn-favorites {
  background-color: #7DB54F;
  color: #ffffff;
  padding: 8px 50px;
}

.catalog-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.newsletter-title-catalog {
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.newsletter-text-catalog {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 55px;
  text-align: center;
}
